body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.ex {
    border: 1px solid black;
    display: inline;
    margin-left: 20px;
    font-style: italic;
    border-radius: 30%;
    color: rgb(37, 8, 8);
    padding: 10px 20px;
    box-shadow: 5px 5px 20px red;

}

.orange {
    color: darkorange;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 60px;
}

.half-width img {
    width: 80%;
    margin-top: 40px;
    margin-left: 70px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(146, 27, 27), rgb(228, 59, 8));
    padding: 12px 40px;
    font-weight: 700;
    color: rgb(230, 230, 243);
    border-radius: 10px;
}

.banner {
    background-image: url(./top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(./dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    color: dimgray;
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: 900;
    font-size: 20px;
}

a {
    background-image: linear-gradient(tomato, brown, red);
    text-decoration: none;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
}

.half-width-d {
    width: 50%;
    margin-right: 115px;
}

.half-width-d img {
    width: 90%;
    margin-left: 20px;
}

.experience-item {
    box-shadow: 1px 10px 40px red;
    margin-top: 50px;
    width: 40%;
    margin-left: 40px;
    margin-right: 10px;
    padding-left: 70px;
}

.experience-section {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.bottom {
    text-align: center;
    color: rgb(37, 5, 5);
    margin-bottom: 30px;
}

#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
}

#baby-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(purple tomato);
    border-image-slice: 1;
}